* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}



header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 30px 10%;
  background-color: #24252a;
}

footer {
  display: flex;
  margin-top: 50px;
  justify-content: space-evenly;
  align-items: center;
  padding: 30px 10%;
  background-color: #24252a;
}

.logo {
  margin-right: auto;
  max-width: 20%;
  max-height: auto;
}



.nav__links , 
.nav__links1 {
  list-style: none;
  display: flex;
}

.nav__links a, 
.nav__links1 a,
.cta,
.overlay__content a {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  color: #edf0f1;
  text-decoration: none;
}

.nav__links li , 
.nav__links1 li {
  padding: 0px 20px;
}

.nav__links li a , 
.nav__links1 li a {
  transition: all 0.3s ease 0s;
}

.nav__links li a:hover , 
.nav__links1 li a:hover {
  color: #0088a9;
}

.cta {
  margin-left: 20px;
  padding: 9px 25px;
  background-color: rgba(0, 136, 169, 1);
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}

.cta:hover {
  background-color: rgba(0, 136, 169, 0.8);
}

/* Mobile Nav */

.menu {
  display: none;
}

.overlay {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  background-color: #24252a;
  overflow-x: hidden;
  transition: all 0.5s ease 0s;
}

.overlay--active {
  width: 100%;
}

.overlay__content {
  display: flex;
  height: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.overlay a {
  padding: 15px;
  font-size: 36px;
  display: block;
  transition: all 0.3s ease 0s;
}

.overlay a:hover,
.overlay a:focus {
  color: #0088a9;
}
.overlay .close {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
  color: #edf0f1;
  cursor: pointer;
}

@media screen and (max-height: 450px) {
  .overlay a {
    font-size: 20px;
  }
  .overlay .close {
    font-size: 40px;
    top: 15px;
    right: 35px;
  }
}

@media only screen and (max-width: 800px) {
  .nav__links,
  .cta {
    display: none;
  }
  .menu {
    display: initial;
  }
}



.main{
  margin-left: 130px;
  padding: 0px 10px;
}


.cards {
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  box-sizing: border-box;
  justify-content: space-between;
  margin-left: 50px;
  margin-right: 50px;
}



 .card {
  flex: 0 0 23%;
  margin: 10px;
  overflow-y: auto;
  display: flex;
  flex-direction: column-reverse;
  width: 500px;
  height : 300px;
  transition: 0.3s;
  border-radius: 10px;
  border: 5px solid rgb(109, 104, 104);
  box-shadow: 2px 2px 6px 0px  rgba(0,0,0,0.3);
} 
 .card:hover {
  transform: scale(1.04);
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2); 
  
}


.cards .card img {
  max-width: 100%;
}
.cards .card .text {
  padding: 0 20px 20px;
}
.cards .card .text > button {
  background: gray;
  border: 0;
  color: white;
  padding: 10px;
  width: 100%;
  }

.list-group {
  border-radius: 15px;
   text-align: center;
   font-size: 25px;
}

.list-group-item{
  border-radius: 7px;
}




.sidenav{
  margin-top: 150px;
  height: 100%;
  width: 130px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: black;
  
  padding-top: 20px;
}

.dropbtn {
  margin-left: 20px;
  padding: 9px 25px;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  background-color: rgba(0, 136, 169, 1);
  color: #edf0f1;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}

.dropbtn:hover{
  background-color: rgba(0, 136, 169, 0.8);
}

#myInput {
  box-sizing: border-box;
  background-image: url('searchicon.png');
  background-position: 14px 12px;
  background-repeat: no-repeat;
  font-size: 18px;
  padding: 14px 20px 12px 45px;
  border: none;
  border-bottom: 1px solid #ddd;
}



.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f6f6f6;
  min-width: 230px;
  overflow: auto;
  border: 1px solid #ddd;
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown a:hover {background-color: #ddd;}

.show {display: block;}