{% extends "management/layout.html" %}
{% load static %}
{% block body %}
<div style="margin-left: 150px; margin-right: 150px;">
<div style="margin: 20px; background-color: antiquewhite;">
   <h1 style="text-align: center;">Recent books</h1>
</div>



<!-- <div class="sidenav">
 <div class="dropdown">
  <button onclick="myFunction()" class="dropbtn">Search books</button> 
  <div id="myDropdown" class="dropdown-content">
    <input type="text" placeholder="Search.." id="myInput" >
        {%for book in book_list%}
             <a href="{% url 'book' book.id %}">{{book.title}}</a>
        {%endfor%}
  </div>
</div>
</div>
<script>
/* When the user clicks on the button,
toggle between hiding and showing the dropdown content */
function myFunction() {
  document.getElementById("myDropdown").classList.toggle("show");
}

function filterFunction() {
  var input, filter, ul, li, a, i;
  input = document.getElementById("myInput");
  filter = input.value.toUpperCase();
  div = document.getElementById("myDropdown");
  a = div.getElementsByTagName("a");
  for (i = 0; i < a.length; i++) {
    txtValue = a[i].textContent || a[i].innerText;
    if (txtValue.toUpperCase().indexOf(filter) > -1) {
      a[i].style.display = "";
    } else {
      a[i].style.display = "none";
    }
  }
}
</script>   -->






  <main class="cards"> 
<!-- <div style="display: flex; align-items: stretch; flex-wrap: wrap;"> -->
   {% for book in book_list %}
     <div class="card">
      <div class="text">
        <h3 style="text-align: center; font-family: serif;">{{ book.title }}</h3>
        <h6>Author : {{book.author}}</p>
         <a href="{% url 'book' book.id %}" class="btn btn-primary">Go to the book</a>
      </div>
      <img src="/media/{{book.pic}}" alt="Sample photo">
    </div> 
   <!-- <div class="card" style="max-width: 540px; flex:0 0 45%">
        <div class="row no-gutters">
          <div class="col-md-4">
            <img src="/media/{{book.pic}}" class="card-img" alt="...">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
              <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
            </div>
          </div>
        </div>
      </div> -->
    {% endfor %}
    </div>
    
   </main>     
  

 
</div>

{% endblock %}