{% extends "management/layout.html" %}
{% block body %}


<main role="main" class="container">
  <div class="row ml-2 mt-5">
    <div class="col">
      <ul class="list-group list-group-flush">
      <div class="shadow-lg p-3 mb-5 bg-white rounded">
        <li class="list-group-item"><h2>Amrita Chaturvedi</h2></li>
        <li class="list-group-item">Email - amrita.cse@iitbhu.ac.in</li>
        <li class="list-group-item">Phone - 9554321133</li>
        <li class="list-group-item">Subjects Taught - Information Technology Workshop 2 (MySQL and Django).</li>
        <li class="list-group-item">Area of Interest - Software Architecture and Design Patterns, Ontologies, Artificial Intelligence, Semantic Web, Big Data Analytics and Machine Learning-</li>
      </div>
      </ul>
    </div>
    
</main>


{% endblock %}